<div class="nav">
  <div class="nav-header">
    <div class="nav-title">TextCompare</div>
  </div>

  <div class="nav-links">
    <ng-container *ngIf="!user.email">
      <a routerLink="/login" [ngClass]="{ active: activeRoute === '/login' }">
        Log In
      </a>

      <a routerLink="/signup" [ngClass]="{ active: activeRoute === '/signup' }">
        Sign Up
      </a>
    </ng-container>

    <ng-container *ngIf="!!user.email">
      <span class="logged-email">{{ user.email }}</span>
      <a (click)="logout()"> Log Out </a>
    </ng-container>
  </div>
</div>
